/* fonts */

@font-face {
    font-family: "UnileverShilling";
    src: url("/UnileverShilling.ttf") format("truetype"), url("/UnileverShillingMedium.ttf") format("truetype"), url("/UnileverShillingBold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}


/* reset & common styles */

body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
    margin: 0;
    padding: 0;
    color: #0134cd;
    font-family: "UnileverShilling";
    letter-spacing: 2px;
    list-style-type: none;
    text-decoration: none;
    font-weight: 300;
}

.logo img {
    width: 130px;
    height: 130px;
}

.body-container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}
.mask {
    /* align-items: center; */
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}
.mask .body-content {
    background: rgba(255, 255, 255, 1);
    width: 60%;
    margin: auto;
    height: 80%;
    display: block;
    border-radius: 20px;
}
button {
    color: #0134cd;
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid rgba(1, 52, 205, 0.3);
    margin: 40px auto 0;
    cursor: pointer;
    font-weight: 300;
}

.container {
    max-width: 800px;
    margin: 0 auto 40px;
}

.container h3 {
    font-size: 1.7em;
    font-weight: 600;
    color: #F43C4E;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container li {
    padding: 10px;
    cursor: pointer;
    font-size: 1.3em;
}


/* header */

header {
    display: flex;
    padding: 40px 10%;
    align-items: center;
}

header .title {
    flex-grow: 1;
    margin-left: 20px;
}

header h1 {
    border-bottom: 1px solid rgba(1, 52, 205, 0.3);
    padding-bottom: 10px;
    font-size: 2.5em;
    font-weight: 600;
}

header .pizza-svg {
    width: 80px;
    overflow: visible;
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
}


/* lists */

li span.active {
    font-weight: bold;
}

li span.active::before {
    content: ">";
    position: relative;
    top: -2px;
    margin-right: 6px;
    transform: scale(0.8, 1);
    display: inline-block;
}


/* pages */

.home h2 {
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: 600;
}

.home.container,
.order.container {
    text-align: center;
    max-width: 800px;
}

.home button {
    color: #0134cd;
    padding: 15px 30px;
    font-size: 1.6em;
    border: 1px solid #0134cd;
    margin: 30px 20px;
}

.order p {
    margin: 20px auto;
}


/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.modal button {
    color: #444;
    border-color: #444;
    font-weight: bold;
    margin-top: 20px;
}

.modal p {
    color: #444;
    font-weight: bold;
}


/* loader */

.loader {
    width: 10px;
    height: 10px;
    margin: 40px auto;
    border-radius: 50%;
    background: #0134cd;
}

.loader-text {
    font-weight: 600;
}

/* skill list */

.skill-modal {
    width: 60%;
    height: max-content;
    max-height: 80%;
    margin: 0 auto;
    padding: 20px 20px;
    background: white;
    border-radius: 20px;
    /* text-align: center; */
    overflow: hidden;
    display: block;
}
.skill-modal h3 {
    font-weight: 600;
    /* color: #F43C4E; */
    color: #182CA6;
}
.skill-modal .table-container {
    margin-top: 20px;
    overflow-y: scroll;
    height: 500px;
    padding: 0 20px 0 20px;
    margin-right: 20px;
}
.table-container::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
.table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: lightgrey;
}
.table-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.skill-modal button {
    color: #444;
    border-color: #444;
    font-weight: bold;
    margin-top: 0;
    float: right;
    margin-right: 20px;
}
.skill-modal .selections {
    margin: 20px;
    max-height: 115px;
    overflow-y: auto;
}
@media screen {
    
}
.skill-modal .selections::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
.skill-modal .selections::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: lightgrey;
}
.skill-modal .selections::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.skill-modal p {
    margin-top: 10px;
    margin-left: 20px;
    /* position: absolute; */
    color: #444;
    font-weight: bold;
    display: inline-block;
}
.skill-modal span {
    color: #8E2D4E;
    align-items: center;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 10px;
    border-radius: 10px;
    border: 2px solid lightgrey;
}
.remove-button {
    cursor: pointer;
    margin-bottom: 2px;
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
}
.skill-modal .bottom-bar {
    display: block;
}
.skill-table {
    border-collapse: collapse;
}
.skill-table td {
    padding: 10px;
    /* border: 1px solid lightgr    ey; */
    text-align: start;
}
.skill-table tr {
    cursor: pointer;
}
.skill-table tr.selected {
    border-radius: 10px;
    background: #0134cd !important;
    color: white !important;
    font-weight: 900;
}
.index-col {
    text-align: center !important;
}